.App {
  text-align: center;
  font-family: Arial;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-header h2 {
	margin: 5px;
}

.App-intro {
  font-size: large;
}

.Main-frame {
	/* should be in the middle of the screen and should hold both of the markdown windows - the editor and the preview */
	/*padding-top: 10px;*/
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	/*border-radius: 5%;*/
}

.Editor {
	/* testing */
	/*border: 1px solid black;*/
	padding: 10px;
	width: 45%;
	border-radius: 3px;
}

.Editor textarea {
	width: 95%;
	height: 430px;
	font-size: 0.7em;
	border-radius: 3px;
	padding: 3px;
}

.Preview {
	/*border: 1px solid black;*/
	border-radius: 3px;
	padding: 10px;
	width: 45%;
	text-align: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
