.App {
  text-align: center;
  font-family: Arial;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Main-frame {
	/* should be in the middle of the screen and should hold both of the markdown windows - the editor and the preview */
	display: flex;
	flex-direction: row;
	/*align-items: center;*/
	justify-content: space-around;
}

.Editor {
	/* testing */
	border: 1px solid black;
	padding: 10px;
	width: 45%;
}

.Editor textarea {
	width: 95%;
	height: 300px;
	font-size: 1em;
}

.Preview {
	border: 1px solid black;
	padding: 10px;
	width: 45%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
